<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO HOME PAGE</h1>
    {% if user_id%}
        <H4>Hallo {{user_id.first_name}} Welcome to the application</H4>
    {%else%}
        <h4>No users</h4>
    {% endif%}

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="log Out">
    </form>
</body>
</html>